{name, "egeoip"}.
{description, "Erlang IP Geolocation module, currently supporting the MaxMind GeoLite City Database."}.
{homepage, "https://github.com/mochi/egeoip"}.
{url, {git, "https://github.com/mochi/egeoip.git", {branch, "master"}}}.
{license, "MIT", "LICENSE"}.
{applications, [egeoip]}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
